<launch>
    <!-- Launch yolov5_ros launch file -->
    <include file="$(find yolov5_ros)/launch/yolov5.launch" />

    <!-- Launch leg_tracker launch file -->
    <include file="$(find leg_tracker)/launch/individual_leg_tracker.launch" />

    <!-- Run sub_hara_roi.py node -->
    <node pkg="myagv_controller" type="sub_hara_roi.py" name="sub_hara_roi" output="screen" />

    <!-- Run test0526.py node -->
    <node pkg="myagv_controller" type="test0527.py" name="golbot_manager" output="screen" />
    
    <!-- Run rqt with a specific perspective -->
    <node pkg="rqt_gui" type="rqt_gui" name="rqt_gui" args="-p $(find myagv_controller)/rqt/Default.perspective" output="screen" />
</launch>
